@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Cypro+Minoan&display=swap");

:root {
	--primary-color: red;
}

body {
	font-family: "Noto Sans Cypro Minoan", sans-serif;
}

.container {
	padding: 0 1rem;
}

.container-center {
	max-width: 600px;
	margin: auto;
}

.link {
	text-decoration: none;
	padding: 0.5rem 1rem;
}

.primary-link {
	color: white;
	background-color: var(--primary-color);
	border-radius: 0.5rem;
}

.secondary-link {
	color: var(--primary-color);
	border: 2px solid red;
	border-radius: 0.5rem;
}
